/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Meddon&family=Montserrat:wght@500&family=Roboto+Flex:wght@300&family=Roboto+Mono:wght@500&family=Roboto+Serif:wght@600&display=swap');

* {
  box-sizing: border-box;
  }

body {
  font-family: 'Roboto Flex', sans-serif;
  }

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Serif', serif;
} 

/* --------------------------------------Navigation */

#navigation a {
  transition: all .2s ease-in-out;
}
#navigation a:hover {
  transform: scale(1.2);
}

#navigation {
  width: 100%;
  justify-content: space-around;
}

@media only screen and (max-width: 1199px) {
  #navigation a:hover {
    transform: scale(0.96);
  }
}

/* -----------------------------------------Academy */

.sheet-music-image {
  max-width: 700px;
  justify-content: center;
}

.button1:hover {
  transform: scale(0.98);
  transition: ease-in-out;
}

/* -------------------------------------Sheet Music */


.accordion-button {
  flex-direction: column;
  font-size: 1.5rem;
}

.accordian-body ul {
  padding-left: 0;
}

.accordian-body li {
  list-style: none;
  padding-left: 0;
  padding-bottom: 0.5rem;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color:blue;
}

.accordian:last-of-type {
  padding-bottom: 1rem;
} 