@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Fauna+One&display=swap');

* {
  box-sizing: border-box;
  }

body {
  font-family: 'Fauna One', serif;
  }

h1, h2, h3, h4, h5 {
  font-family: 'Cinzel', serif;
  } 

#navigation a {
  transition: all .2s ease-in-out;
}
#navigation a:hover {
  transform: scale(1.2);
}

#navigation {
  width: 100%;
  justify-content: space-around;
}

@media only screen and (max-width: 1199px) {
  #navigation a:hover {
    transform: scale(0.96);
  }
}